.btn {
  position: relative;

  display: inline-block;
  padding: 20px 80px 20px 30px;

  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.28px;

  background-color: $color-transparent;
  color: $color-cerulean-blue;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;

  cursor: pointer;
  user-select: none;

  transition: background-color $trans-default;

  @include vp-767 {
    padding: 14px 56px 14px 20px;

    font-size: 12px;
    line-height: 12px;
  }

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-default-white;

    background-color: $color-cerulean-blue;
    outline: none;

    & .btn__icon {
      color: $color-cerulean-blue;

      background-color: $color-default-white;
    }

    & svg {
      transform: rotate(45deg);
    }
  }

  &:active {
    color: rgba(255, 255, 255, 0.7);

    & .btn__icon {
      color: rgba(49, 109, 194, 0.7);
    }
  }

  &:disabled {
    color: $color-disabled;

    border-color: $color-disabled;

    pointer-events: none;

    & .btn__icon {
      color: rgba(255, 255, 255, 0.6);

      background-color: $color-disabled;
    }
  }
}

.btn__icon {
  position: absolute;
  top: 50%;
  right: 3px;

  display: flex;
  width: 46px;
  height: 46px;

  color: $color-default-white;

  background-color: $color-cerulean-blue;
  border-radius: 50%;
  transform: translateY(-50%);
  user-select: none;

  @include vp-767 {
    width: 34px;
    height: 34px;
  }

  & svg {
    display: block;
    width: 12px;
    height: 12px;
    margin: auto;

    stroke: currentColor;
  }
}

.btn--min {
  padding: 0;

  border-color: transparent;

  & .btn__icon {
    position: static;

    width: 30px;
    height: 30px;

    transform: none;
  }
}

.btn--light {
  color: $color-default-white;

  border-color: $color-default-white;

  &:hover,
  &:focus,
  &:focus-visible {
    color: $color-cerulean-blue;

    background-color: $color-default-white;

    & .btn__icon {
      color: $color-default-white;

      background-color: $color-cerulean-blue;
    }
  }

  & .btn__icon {
    color: $color-cerulean-blue;

    background-color: $color-default-white;

    &:disabled {
      background-color: $color-disabled;
    }
  }
}
