.custom-toggle {
  input {
    position: relative;

    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;

    border: 1px solid $color-charcoal;
    background-color: $color-transparent;
    opacity: 0.7;

    border-radius: 2px;
    appearance: none;

    &:checked {
      background-color: $color-default-white;
      opacity: 1;

      &::after {
        visibility: visible;
        opacity: 1;
      }
    }

    &:hover,
    &:focus {
      outline: none;
    }
  }

  label {
    position: relative;

    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    padding-top: 6px;

    font-size: 12px;
    line-height: 12px;
    color: rgba($color-charcoal, 0.9);

    cursor: pointer;

    @include vp-767 {
      line-height: 14px;
    }

    span {
      margin-top: 3px;
    }
  }

  &--checkbox {
    label {
      @include hover {
        input {
          background-color: transparent;
          outline: none;
          opacity: 1;
        }

        &:checked::after {
          background-color: $color-default-white;
        }
      }
    }

    input {
      @include hover-focus {
        background-color: transparent;
        outline: none;
        opacity: 1;

        &:checked::after {
          background-color: $color-default-white;
        }
      }
    }

    input::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;

      width: 10px;
      height: 8px;

      background-color: $color-cerulean-blue;
      transform: translate(-50%, -50%);
      visibility: hidden;
      opacity: 0;

      mask-image: url("../../img/sprite.svg#icon-check");
      mask-position: center;
      mask-repeat: no-repeat;
    }

    &.is-disabled {
      pointer-events: none;

      input {
        background-color: #a9afb7;
      }

      input::after {
        opacity: 0.7;
      }
    }

    &.is-invalid {
      @include hover-focus {
        input {
          background-color: rgba(#ff5e66, 0.2);
          border-color: #ff5e66;
          opacity: 0.7;
        }
      }

      input {
        background-color: rgba(#ff5e66, 0.2);
        border-color: #ff5e66;
        opacity: 0.7;
      }
    }
  }
}

.custom-toggle--light {
  input {
    border: 1px solid $color-default-white;
    opacity: 0.7;
  }

  label {
    color: rgba($color-default-white, 0.9);
  }

  &--checkbox {
    label {
      @include hover {
        input {
          background-color: transparent;
          outline: none;
          opacity: 1;
        }

        &:checked::after {
          background-color: $color-default-white;
        }
      }
    }
  }
}
