.footer {
  padding: 60px 0 50px;

  @include vp-767 {
    padding: 30px 0 40px;
  }
}

.footer__container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 25px 52px;

  @include vp-1199 {
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.footer__nav {
  display: flex;
  align-items: center;
  gap: 52px;

  @include vp-1199 {
    grid-column: 1/-1;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.footer__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  @include vp-1199 {
    gap: 15px;
  }

  @include vp-767 {
    gap: 30px 20px;
    justify-content: center;
  }
}

.footer__link {
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;

  @include vp-1199 {
    line-height: 20px;
  }

  @include vp-767 {
    font-size: 14px;
  }
}

.footer__link:hover,
.footer__link:focus {
  color: $color-cerulean-blue;
  outline: none;
}

.footer__link:active {
  color: $color-endeavour;
}

.footer__social-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;

  background-color: $color-cerulean-blue;
  border: none;
  border-radius: 50%;
  color: $color-default-white;
}

.footer__social-link:hover,
.footer__social-link:focus {
  color: rgba(255, 255, 255, 0.7);
}

.footer__social-link:active {
  background-color: $color-endeavour;
  fill: $color-default-white;
}

.footer__bottom-text {
  display: flex;
  justify-content: space-between;
  grid-column: 1/-1;
  gap: 10px;

  font-size: 14px;
  line-height: 18px;

  @include vp-1199 {
    grid-column: auto;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 1 / 2;

    font-size: 12px;
    line-height: 12px;

  }

  @include vp-767 {
    line-height: 14px;

    align-items: center;
    gap: 10px;
  }

  & p {
    margin: 0;

    @include vp-1199 {
      opacity: 0.6;
    }
  }
}

.footer__bottom-link {
  text-decoration: underline;
}

.footer__bottom-link:hover,
.footer__bottom-link:focus {
  color: $color-cerulean-blue;
  outline: none;
}

.footer__bottom-link:active {
  color: $color-endeavour;
}
