.header {
  padding: 30px 0 0;
  margin-bottom: -90px;
  z-index: 10;

  @include vp-767 {
    padding: 20px 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
}

.header__toggle {
  position: relative;
  width: 134px;
  border: 1px solid $color-cerulean-blue;
  padding: 22px 70px 22px 20px;
  background-color: $color-default-white;

  color: $color-cerulean-blue;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0.28px;
  text-transform: uppercase;
}

.header.is-open .header__toggle {
  width: 286px;
  padding: 22px 222px 22px 20px;
  border-color: $color-transparent;
  color: $color-default-white;
  background-color: $color-cerulean-blue;
}

.header__toggle-range {
  background-color: $color-cerulean-blue;
}

.header.is-open .header__toggle-range {
  background-color: $color-default-white;
}

// Бургер

.header__toggle-icon {
  content: "";
  position: absolute;
  top: 50%;
  right: 13px;

  width: 18px;
  height: 1px;

  background-color: $color-default-white;
  transform: translateY(-50%);

  transition: opacity $trans-default, width $trans-default, background-color $trans-default;

  &::before,
  &::after {
    content: "";
    position: absolute;

    width: 18px;
    height: 1px;
    right: 0;

    background-color: $color-default-white;

    transition: transform $trans-default, opacity $trans-default, color $trans-default;
  }

  &::before {
    top: 5px;
  }

  &::after {
    bottom: 4px;
  }
}

// Крестик

.header.is-open .header__toggle-icon {
  &::after,
  &::before {
    top: 50%;
    background-color: $color-cerulean-blue;

    transform: translateY(-50%);
  }

  &::before {
    transform: translateY(-50%) rotate(45deg);
  }

  &::after {
    transform: translateY(-50%) rotate(-45deg);
  }
}
