.logo {
  display: flex;
  align-items: center;
  width: 52px;
  height: 52px;

  background-color: $color-default-white;
  border-radius: 50%;

  &:disabled {
    opacity: 0.1;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.6;
  }

  @include active {
    opacity: 0.3;
  }
}

.logo svg {
  width: 100%;
}
