.nav {
  position: relative;
  margin-left: auto;
}

.nav__overlay {
  position: fixed;
  z-index: -1;

  background-color: rgba(13, 29, 51, 0.4);
  opacity: 0;
  inset: 0;
  pointer-events: none;
}

.header.is-open .nav__overlay {
  opacity: 1;

  pointer-events: all;
}

.nav__wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 10;

  width: 286px;
  height: 0;
  margin-top: 4px;
  padding: 35px 25px;

  color: $color-default-white;

  background-color: $color-cerulean-blue;
  border-radius: 16px;
  visibility: hidden;
  opacity: 0;
}

.header.is-open .nav__wrapper {
  height: auto;
  visibility: visible;
  opacity: 1;
}

.nav__container {
  max-height: 100dvh;
  overflow: auto;
}

.nav__menu {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 28px;
  color: $color-default-white;
  z-index: 100;
}

.nav__item {
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.32px;
  text-transform: uppercase;

  opacity: 0.7;
}

.nav__item.is-active {
  & .nav__link-button svg {
    transform: rotate(180deg);
  }
}

.nav__link {
  color: $color-default-white;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
    outline: none;
  }
}

.nav__link-button {
  border: none;
  background-color: $color-transparent;
  color: $color-default-white;
  padding: 0;

  text-transform: uppercase;

  & svg {
    stroke: $color-default-white;
    margin-left: 10px;
    cursor: pointer;
  }
}

.nav__drop-list {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-top: 20px;
}

.nav__drop-link {
  font-size: 16px;
  line-height: 16px;

  padding-left: 16px;
  color: $color-default-white;
  text-transform: none;

  opacity: 0.6;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
}
