.promo {
  position: relative;
}

.promo__container-image {
  position: absolute;
  inset: 0;
}

.promo__swiper-image {
  height: 100%;
}

.promo__slide-image {
  width: 100%;
  height: 100%;

  background-color: $color-cerulean-blue;
}

.promo__slide-image img {
  width: 100%;
  height: 100%;
}

.promo__slide-image::before {
  position: absolute;
  content: "";

  background-color: rgba(49, 109, 194, 0.2);
  inset: 0;
}

.promo__swiper-content {
  padding-top: 30px;
}

.promo__pagination.swiper-pagination {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  z-index: 1;

  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  min-height: 40px;
  padding: 10px 20px 12px 20px;

  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;

  @include vp-767 {
    padding: 10px 16px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 5px;
    right: -23px;
    transform: rotate(-90deg);
    width: 26px;
    height: 26px;

    background-image: url("../img/sprite/angle.svg");
    color: $color-default-white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 26px;

    @include vp-767 {
      width: 10px;
      height: 10px;
      background-size: 10px;
      top: 21px;
      right: -9px;
    }
  }
}

.promo__pagination-bullet {
  width: 10px;
  height: 10px;
  padding: 0;

  border: 1px solid $color-cerulean-blue;
  border-radius: 50%;
  background-color: $color-transparent;

  transition: background-color $trans-default;
  cursor: pointer;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }
}

.promo__pagination-bullet.is-active {
  background-color: $color-cerulean-blue;
}

.promo__container-content {
  display: flex;
  align-items: flex-end;
  min-height: 800px;
  padding-top: 84px;
  padding-bottom: 60px;

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
    padding-bottom: 20px;
  }
}

.promo__text-header {
  background-color: $color-default-white;
  max-width: 1021px;
  padding: 40px 50px 30px;
  border-radius: 0 30px 30px 0;

  @include vp-1199 {
    max-width: 97%;
    padding: 32px 20px 25px 40px;
  }

  @include vp-767 {
    max-width: 290px;
    padding: 20px 14px 16px 14px;
    border-radius: 0 16px 16px 0;
  }

  & h2 {
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    color: $color-cerulean-blue;

    margin: 0;

    @include vp-1199 {
      font-size: 36px;
      line-height: 44px;
    }

    @include vp-767 {
      font-size: 22px;
      line-height: 26px;
    }
  }
}

.promo__text-bottom {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  max-width: 64.3%;
  min-height: 105px;
  margin-top: -2px;

  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;
  padding: 0 50px 35px 50px;

  @include vp-1199 {
    max-width: 91.3%;
    padding: 0 40px 35px 40px;
  }

  @include vp-767 {
    display: block;
    background-color: $color-transparent;
    max-width: none;
    padding: 0;
  }

  & p {
    color: $color-charcoal;
    font-size: 16px;
    line-height: 26px;

    margin: 0;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.promo__text-bottom::after {
  position: absolute;
  content: "";
  top: 1px;
  right: -25px;
  width: 26px;
  height: 26px;

  background-image: url("../img/sprite/angle.svg");
  color: $color-default-white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;

  @include vp-767 {
    right: 21px;

    width: 10px;
    height: 10px;
    background-size: 10px;
  }
}

.promo__text-content {
  @include vp-767 {
    max-width: 260px;
    padding: 0 14px 15px 14px;
    background-color: $color-default-white;
    border-radius: 0 0 14px 0;
  }
}

.promo__text-button {
  @include vp-767 {
    position: relative;
    background-color: $color-default-white;

    margin-top: -1px;
    padding: 10px 15px;
    width: 220px;
    border-radius: 0 0 14px 14px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: -9px;

      width: 10px;
      height: 10px;

      background-image: url("../img/sprite/angle.svg");
      color: $color-default-white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 10px;
    }
  }
}
