.reviews {
  padding: 120px 0 0;

  @include vp-1199 {
    padding-top: 100px;
  }

  @include vp-767 {
    padding-top: 67px;
  }
}

.reviews__container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  @include vp-767 {
    gap: 30px;
  }

  & h2 {
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    color: $color-cerulean-blue;
    margin: 0;

    @include vp-1199 {
      font-size: 34px;
    }

    @include vp-767 {
      font-size: 20px;
      line-height: 20px;
    }
  }
}

.reviews__wrapper {
  margin-bottom: 40px;
  max-width: 1440px;
  margin: 0 auto;

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.reviews__slide {
  height: auto;

  @include vp-1199 {
    max-width: 560px;
  }
}

.reviews__card {
  display: flex;
  padding: 50px 50px 43px;
  flex-direction: column;
  background-color: $color-transparent;
  gap: 30px;
  width: 100%;
  height: 100%;
  overflow: hidden;

  border-radius: 16px;
  border: 1px solid $color-cerulean-blue;

  @include vp-767 {
    padding: 30px 15px;
    gap: 25px;
  }
}

.reviews__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include vp-767 {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }
}

.reviews__person {
  display: grid;
  grid-template-columns: 90px 80px;
  gap: 15px;
  align-items: center;

  @include vp-767 {
    gap: 10px;
  }

  & img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  & p {
    font-size: 18px;
    line-height: 24px;
    color: $color-cerulean-blue;
    margin: 0;

    @include vp-1199 {
      font-size: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

.reviews__detalis {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin: 0;
}

.reviews__item {
  & dt {
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.12px;
    text-transform: uppercase;
    color: $color-cerulean-blue;
    margin-bottom: 11px;
  }

  & dd {
    font-size: 14px;
    line-height: 18px;
    margin: 0;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;

      opacity: 0.9;
    }
  }
}

.reviews__text {
  & h3 {
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: $color-cerulean-blue;
    margin: 0 0 25px;

    @include vp-1199 {
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
      margin-bottom: 20px;
    }
  }

  & p {
    font-size: 16px;
    line-height: 26px;
    margin: 0;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
